{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    Aktivitäten Liste
{% endblock %}

{% block content %}
    <table id="project_list_table" class="table-striped">
        <tr>
            <th><h2>Aktivität</h2></th>
            <th><h2>Projekt</h2></th>
            <th><h2>Start</h2></th>
            <th><h2>Ende</h2></th>
            <th><h2>Dauer</h2></th>
        </tr>
        {% for act in activity_list %}
            <tr class="clickable-row" data-href="{% url 'project_list' %}{{ pro.pk }}/">
            <td>{{ act.remarks|truncatechars:20 }}</td>
            <td>{{ act.project.name }}</td>
            <td>{{ act.start_time|naturalday }}}</td>
            <td>{{ act.end_time|naturalday }}</td>
            <td>{{ act.duration|naturaltime }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block site_scripts %}
    <script src="{% static "js/clickable_row.js" %}"></script>
{% endblock %}

