{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    Aktivitäten Liste
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        {% block add_button %}
            <div class="add-button-wrapper">
            <a class="btn add-button" role="button" href="{% url "create_activity_view" %}">
                <i class="fa fa-plus fa-fw"></i>
            </a>
            </div>
        {% endblock %}
    {% endif %}
    <table id="activity_list_table" class="table-striped">
        <tr>
            <th><h2>Aktivität</h2></th>
            <th><h2>Projekt</h2></th>
            <th><h2>Start</h2></th>
            <th><h2>Ende</h2></th>
            <th><h2>Dauer</h2></th>
        </tr>
        {% for act in activity_list %}
            {% if user.is_staff %}
            <tr class="clickable-row" data-href="{% url 'update_activity_view' pk=act.pk %}">
                <td><a class="table_row_link" href="{% url 'update_activity_view' pk=act.pk%}"> {{ act.remarks|truncatechars:20 }} </a></td>
                <td><a class="table_row_link" href="{% url 'update_activity_view' pk=act.pk%}"> {{ act.project.name }}</a></td>
                <td><a class="table_row_link" href="{% url 'update_activity_view' pk=act.pk%}"> {{ act.start_time|naturalday }}</a></td>
                <td><a class="table_row_link" href="{% url 'update_activity_view' pk=act.pk%}"> {{ act.end_time|naturalday }}</a></td>
                <td><a class="table_row_link" href="{% url 'update_activity_view' pk=act.pk%}"> {{ act.duration|naturaltime }}</a></td>
             </tr>
            {% else %}
            <tr class="clickable-row" data-href="{% url 'activity_view' pk=act.pk %}">
                <td><a class="table_row_link" href="{% url 'activity_view' pk=act.pk%}"> {{ act.remarks|truncatechars:20 }} </a></td>
                <td><a class="table_row_link" href="{% url 'activity_view' pk=act.pk%}"> {{ act.project.name }}</a></td>
                <td><a class="table_row_link" href="{% url 'activity_view' pk=act.pk%}"> {{ act.start_time|naturalday }}</a></td>
                <td><a class="table_row_link" href="{% url 'activity_view' pk=act.pk%}"> {{ act.end_time|naturalday }}</a></td>
                <td><a class="table_row_link" href="{% url 'activity_view' pk=act.pk%}"> {{ act.duration|naturaltime }}</a></td>
             </tr>
            {% endif %}


        {% endfor %}
    </table>
{% endblock %}
{% block site_scripts %}
    <script src="{% static "js/clickable_row.js" %}"></script>
{% endblock %}

