{% extends "base.html" %}
{% load static %}

{% block title %}
    Projekt Liste
{% endblock %}

{% block content %}
    {% if user.is_staff %}
        {% block add_button %}
            <div class="add-button-wrapper">
            <a class="btn add-button" role="button" href="{% url "create_project_view" %}">
                <i class="fa fa-plus fa-fw"></i>
            </a>
            </div>
        {% endblock %}
    {% endif %}
    <table id="project_list_table" class="table-striped">
        <tr>
            <th><h2>Projektname</h2></th>
            <th><h2>Kunde</h2></th>
            <th><h2>Beschreibung</h2></th>
        </tr>
        {% for pro in project_list %}
            <tr class="clickable-row" data-href="{% url 'project_view' pk=pro.pk %}">
            <td>{{  pro.name }}</td>
            <td>{{  pro.customer.name }}</td>
            <td>{{  pro.description|truncatechars:50 }}</td>
            {% if user.is_staff %}
                <td><a href="{% url 'update_project_view' pk=pro.pk %}">Edit</a></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block site_scripts %}
    <script src="{% static "js/clickable_row.js" %}"></script>
{% endblock %}

