

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #505050;
    color: #A0B0A0;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 200%;
}


.navbar-brand{
    font-family: 'Cabin Sketch';
    font-size: 400%;
    margin-top: 30px;
    font-weight: 700;
}

.navbar-fixed-top{
    height: 100px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Electrolize;
}

#content.container{
    margin-top: 30px;
}

.work_table{
    width: 100%;
}

#project_list_table, #activity_list_table, #customer_list_table{
    width: 100%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #505050;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #707070;
}


.clickable-row:hover{
    cursor: pointer;
}

#invite_form{
    margin-top: 100px;
}

#form_message{
    color: #d58512;
    font-size: small;
    height: 30px;
}









